@font-face {
  font-family: 'Roobert Regular';
  src: local('Roobert Regular'), url(./fonts/Roobert-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Roobert Light';
  src: local('Roobert-Light'), url(./fonts/Roobert-Light.otf) format('otf');
}

@font-face {
  font-family: 'Roobert Medium';
  src: local('Roobert Medium'), url(./fonts/Roobert-Medium.otf) format('otf');
}
